
/* My Changes*/

.css-panes .slider-wrapper, .slider-wrapper{
	display: block;
	border: 0px;
	padding: 0px 0px 60px 0px;
}

.css-panes .slider-wrapper div, .slider-wrapper div {
	display: block;
	border: 0px;
	padding: 0px;
}

nivo-caption


/* (standalone.css) */

body {
padding:50px 80px;
font-family: sans-serif;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}


/* (tabs-no-images.css) */

/* root element for tabs */
ul.css-tabs {
padding:0;
height:45px;
}

/* single tab */
ul.css-tabs li {
float:left;
padding:0;
margin:0;
list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
float:left;
font-size:20px;
display:block;
padding:10px 30px;
margin-right: 10px;
text-decoration:none;
height:30px;
color:#777;
position:relative;
}

ul.css-tabs a:hover {
background-color:#8235a9;
color:white;
}

/* selected tab */
ul.css-tabs a.current {
background-color:#8235a9;
color:white;;
cursor:default;
}


/* tab pane */
.css-panes div {
display:none;
border:1px solid #666;
border-width:0 1px 1px 1px;
/*min-height:500px;*/
padding:15px 20px;
background-color:#ddd;
}



/* (index.html) */

/* alternate colors: skin2 */
ul.skin2 a {
background-color:white;
color:#8235a9;
}

/* mouseover state */
ul.skin2 a:hover {
background-color:black;
color:white;
}

/* active tab */
ul.skin2 a.current {
background-color:black;
color: white;
}

/* tab pane with background gradient */
div.skin2 div {
/*min-height:200px;*/
color: white;
background-color: #33ab09;
}
a.region {
text-align: center;
display: inline-block;
font-size: 20px;
width: 150px;
padding: 20px;
background-color: white;
color: black;
}
a.region:hover
{
background-color:#8235a9;
color: white;
}



/*
	All 3 css files for the NIVO Slider have been consolidated and appear below.
*/

/* The Nivo Slider styles (nivo-slider.css) */
.nivoSlider {
	position:relative;
	width:867px; /* Make sure your images are the same size */
   height:588px; /* Make sure your images are the same size */
	background:url(loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.css-panes .nivo-caption, .nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.css-panes .nivo-caption p, .nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.css-panes .nivo-html-caption, .nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

/*----------------------------------------------------------------------------------*/

/* (all.css) */
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-80px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}


/*----------------------------------------------------------------------------------*/

/* (styles.css) */

/*====================*/
/*=== Reset Styles ===*/
/*====================*/
div, span, a, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
body {
	color:#333;
	background:#eee;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

.theme-default #slider {
    margin:0px auto 0 auto;
    width:867px; /* Make sure your images are the same size */
    height:588px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}


/*--------------------END NIVO--------------------*/







